/* Small devices (tablets, 767px and up) */
@media screen and (max-width: 767px) {
  .hero,
  .about {
    flex-direction: column;
    text-align: center;
    padding: 2rem;
  }
  .hero-content h1 {
    font-size: 3rem;
  }
  .about {
    flex-direction: column-reverse;
  }
  .projects {
    padding: 2rem;
  }
  .projects-card {
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
    margin-top: 2rem;
  }
  .lets-chat {
    flex-direction: column;
    padding: 2rem;
    text-align: center;
  }
  .lets-chat h2 {
    font-size: 2.5rem;
  }

  .btn {
    padding: 0.8rem 1.5rem;
  }
}

/* Medium devices (tablets, 768px to 1023px) */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .hero-content h1 {
    font-size: 3.2rem;
  }
  .projects-card {
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
    margin-top: 3rem;
  }
}
