/* Small devices (tablets, 767px and up) */
@media screen and (max-width: 767px) {
  .hero,
  .about {
    flex-direction: column;
    text-align: center;
    padding: 2rem;
  }
  .hero-content h1 {
    font-size: 3rem;
  }
  .about {
    flex-direction: column-reverse;
  }
}

/* Medium devices (tablets, 768px to 1023px) */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .hero-content h1 {
    font-size: 4rem;
  }
}
